// START:: GLOBAL STYES
* {
    font-family: $regular_font;
    outline: none;
    @include boxSizing;
    @include colorTransitioning(0.4s);

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--theme_main_bg_clr);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--main_theme_clr);
        border: 2px solid var(--theme_main_bg_clr);
        @include borderRadius(15px);
    }
}

html {
    overflow-y: auto !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    counter-reset: slider;

    // START:: THEME GLOBAL STYLES
    .theme--light {
        &.v-application {
            overflow-x: hidden;
            background: var(--theme_main_bg_clr);
            color: var(--theme_text_clr);
        }
    }

    // END:: THEME GLOBAL STYLES
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 100000000s 0s, color 100000000s 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -moz-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
    -o-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.ant-message {
    span {
        .ant-message-notice {
            .ant-message-notice-content {
                background-color: var(--theme_main_bg_clr);
                @include simpleShadow;

                .ant-message-custom-content {

                    &.ant-message-error,
                    &.ant-message-success,
                    &.ant-message-warning {
                        @include flexCenterAlignment;
                        column-gap: 10px;

                        .anticon {
                            margin: 0;
                            font-size: 20px;
                        }

                        span {
                            font-size: 18px;
                            color: var(--theme_text_clr);
                        }
                    }
                }
            }
        }
    }
}

.ant-dropdown-link {
    padding: 8px 15px;
    background-color: var(--theme_main_bg_clr);
    font-size: 17px;
    font-family: $semi_bold_font;
    @include flexCenterAlignment;
    column-gap: 8px;
    @include borderRadius(10px);
}

.ant-dropdown {
    .ant-dropdown-menu {
        background-color: var(--theme_second_bg_clr);
        @include borderRadius(12px);
        @include midShadow;

        .ant-dropdown-menu-item {
            @include transitioning(0.4s);

            &:hover {
                background-color: var(--soft_main_theme_clr) !important;
            }

            a,
            button {
                display: block;
                width: 100%;
                text-align: center;
                padding: 8px 5px;
                color: var(--theme_text_clr);
                font-size: 16px;
            }
        }
    }
}

.empty_content {
    height: 75vh;
    @include flexCenterAlignment;
    flex-direction: column;
    margin-top: 5vh;

    img {
        max-width: 80%;
    }

    h3 {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 2rem;
        font-weight: bold;
    }
}

// END:: GLOBAL STYES