.breadcrumb_wrapper {
    position: relative;
    height: 150px;
    background-image: url(../media/images/breadcrumb_bg.png);
    background-size: 100%;
    background-color: var(--theme_second_bg_clr);
    @include flexCenterAlignment;
    flex-direction: column;
    row-gap: 15px;
    overflow: hidden;
    isolation: isolate;
    margin-bottom: 25px;
    .page_title {
        margin: 0;
        color: var(--theme_text_clr);
        font-size: 27px;
        font-family: $bold_font;
    }

    .v-breadcrumbs {
        padding: 0;
        @include flexCenterAlignment;
        column-gap: 10px;
        li {
            &.v-breadcrumbs__divider {
                padding: 0;
                font-size: 18px;
                color: var(--theme_text_clr);
            }
            .v-breadcrumbs__item{
                font-size: 15px;
                font-family: $medium_font;
                color: var(--theme_text_clr);
                &.v-breadcrumbs__item--disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    // START:: MEDIA QUERIES
    @media (max-width: 767px) {
        margin-bottom: 15px;
        height: 100px;
        background-size: cover;
        row-gap: 8px;

        .v-breadcrumbs {
            column-gap: 8px;
            li {
                &.v-breadcrumbs__divider {
                    font-size: 18px;
                }
                .v-breadcrumbs__item{
                    font-size: 14px;
                }
            }
        }
    }
    // END:: MEDIA QUERIES
}