.image_header_wrapper {
    height: 350px;
    background-size: contain;
    img {
        width: 100%;
        object-fit: cover;
    }
    .header_container {
        @include flexStartAlignment;
        height: 100%;
        h1 {
            width: 30%;
            font-size: 5rem;
            font-family: $bold_font;
            margin-bottom: 0;
        }
    }
    @media (max-width: 767px) {
        img {
            height: 130px;
        }
    }
}

.courses_section_wrapper {
    .image_header_wrapper {
        background-color: #fff0e1;
    }
}

.course_details_wrapper,
.course_payment_wrapper,
.courses_cats {
    .image_header_wrapper {
        background-color: #bdfcd7;
    }
}