.about_us_section_wrapper {
    margin-block: 70px;

    .section_content {
        position: relative;
        padding: 25px;
        background-color: var(--theme_second_bg_clr);
        @include borderRadius(25px);

        .section_title {
            font-size: 25px;
            font-family: $bold_font;
            color: var(--theme_text_clr);
        }

        .section_text {
            width: 70%;
            margin-top: 20px;
            @include textWraper;
            color: var(--theme_text_clr);
            font-size: 16px;
            text-align: justify;
        }

        .section_route_wrapper {
            width: 70%;
            margin-top: 25px;
            @include flexEndAlignment;

            a {
                @include flexCenterAlignment;
                column-gap: 12px;

                span {
                    font-size: 18px;
                    color: var(--theme_text_clr);

                    svg,
                    i {
                        display: block;
                        margin-bottom: -5px;
                    }
                }
            }
        }

        .section_image_wrapper {
            position: absolute;
            left: -200px;
            top: 50%;
            transform: translateY(-50%);
            width: 400px;
            height: 300px;
            @include borderRadius(20px);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

body[dir="ltr"] {
    .about_us_section_wrapper {
        .section_content {
            .section_image_wrapper {
                right: -200px;
                left: auto;
            }
        }
    }
}

// START:: MEDIA QUERY
@media (max-width: 767.98px) {
    .about_us_section_wrapper {
        .section_content {
            .section_route_wrapper {
                width: 100%;
            }
            .section_image_wrapper {
                display: none;
            }
        }
    }
}
